
.toolbar-container {
  background-color: black;
  color: white;
  display: flex;
  justify-content: flex-end;
}

/* Agrega estas clases CSS para desactivar el resaltado y el comportamiento de botón */
.disabled-link {
  pointer-events: none;
}


.Btns {
  transition: color 0.3s ease;
  font-size: 20px;
  border-radius: 5px;
  &:hover {
    background-color: white;
    color: black;
    padding-inline: 15px;
  }
  @media screen and (max-width: 600px) {
    // Aplicar estilos específicos para pantallas con ancho máximo de 600px
    font-size: 15px;
    padding-inline: 5px;
  }
  @media screen and (max-width: 500px) {
    font-size: 12px;
  }
  @media screen and (max-width: 400px) {
    font-size: 15px;
    padding-inline: 5px;
  }
  @media screen and (max-width: 300px) {
    font-size: 10px;
    padding-inline: 10px;
  }
}

.mat-icon {
  color: white;
}
